body {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  max-width: 864px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .header-image {
    font-family: "Baloo";
    font-size: 24px;
    letter-spacing: -0.25px;
    color: #ffffff;
    width: 90px;
  }
  .navbar {
    display: flex;
    align-items: center;
    font-size: 14px;
    min-width: 303px;
    display: flex;

    &__navlist {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      margin-left: 10px;

      li a {
        font-family: "Source Sans Pro";
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      max-width: 574px;
      width: 100%;
      margin: 0 20px;
      &__header {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 84px;
        line-height: 102px;
        letter-spacing: -2px;
        color: #ffffff;
        margin: 0px;
      }
      &__text {
        display: flex;
        flex-wrap: wrap;
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        justify-content: center;
        text-align: center;
        color: #ffffff;
      }
    }
    &__image {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    .navbar {
      display: none;
    }
  }
}
