.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 568px;
  background-color: black;
}

header {
  .navbar {
    display: flex;
    width: 320px;

    &__image {
      margin-left: 30px;
      margin-top: 11px;
    }
  }
}
main {
  margin-top: 64px;
  width: 320px;
  display: flex;
  flex-direction: column;

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__header {
        height: 40px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 110% */
        text-align: center;
        letter-spacing: -0.8px;
        color: #ffffff;
        width: 114px;
        height: 40px;
        margin: 0px;
      }
      &__text {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        color: #ffffff;
        width: 211px;
        height: 49px;
        margin-top: 27px;
      }
    }
    &__image {
      width: 256px;
      height: 284px;
      flex-direction: column;
      display: flex;
      margin-top: 57px;
    }
  }
}
